<div class="container">
    <!-- Place menu -->
    <div class="row" style="margin-top:12px;">
      <div class="col-md-8">
        <input type="text"
            
               class="form-control"
               style="width: 100%;"
               placeholder="Search places...">
      </div>
      <div class="col-md-4">
          <!--  (click)="createCity()"-->
        <button type="buton"
           
                class="btn btn-info fa-pull-right"
                style="margin-left:12px;">
                <i class="fa fa-plus"></i> Add city
        </button>

         <!-- 
         [disabled]="!selectedCity"
        (click)="createCity(selectedCity.id)"
        -->

        <button type="button"
               
                class="btn btn-warning fa-pull-right"
                style="margin-left:12px;">
                <i class="fa fa-plus"></i> Add place
        </button>
      </div>
   
    </div>
  
    <!-- City content -->
    <div class="row" style="margin-top: 28px;">
      <!-- Cities Menu -->
      <div class="col-md-3">
        <br>
        <div class="list-group list-group-flush">
            <!-- (click)="selectAllCities()"  -->
          <a  class="list-group-item list-group-item-action">    
              &nbsp;All
          </a>
          <!-- Cities List -->
            <!--   <a  *ngFor="let city of cities" (click)="selectCity(city)" class="list-group-item list-group-item-action"> -->
            <a class="list-group-item list-group-item-action"> 
              
                <!--  <input type="text" [(ngModel)]="city.name" (change)="updateCity(city)" class="input-label" style="width: 80%"  /> -->
                <input type="text" value="Poznan" class="input-label" style="width: 80%; border:none"  />
                  <!--    <a (click)="deleteCity(city)"  class="pull-right text-danger"> -->
                  <a  class="pull-right text-danger">
                    <i class="fa fa-trash-o"></i>
                  </a>
            </a>
         
         
        </div>
      </div>
  
      <!-- Places Panel -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
              <!--  <h3 *ngIf="selectedCity != null">{{selectedCity.name}}</h3> -->
              <!--   <h3 *ngIf="selectedCity == null">All cities</h3> --> 
              <h3>All touristic places</h3> 
          </div>
        </div>
        <div class="row">
          <!-- Places list -->
               <p *ngIf="this.places.length === 0"> There are no places in database</p>


               <div  *ngFor="let place of places">
                  <div style="margin:30px;"></div> 
                <div style="padding: 20px; border-style: groove;"> 
                    <div style="margin-left:20px;">
                      <div  style="padding: 8px; margin-top: 8px;">
                          <!-- title -->
                          <!--  (change)= "updatePlace(place)" -->
                            <!-- [(ngModel)]="place.name" -->
                              <input type="text" 
                              placeholder="Place name"
                              value='{{place.name}}'
                              name="name"
                              class="input-label-lg" 
                              maxlength="20" style="width: 100%; font-size: 34px;" 
                              />
                                <!--  <a (click)="deletePlace(place)" class="text-danger"> -->
                            

                              <input type="number" 
                              placeholder="Place foundation year"
                              value='{{place.year}}'
                              name="year"
                              class="input-label-lg" 
                              maxlength="20" style="width: 100%; font-size: 20px;" 
                              />

                              <input type="number" 
                              placeholder="Points to gain for visit"
                              value='{{place.points}}'
                              name="points"
                              class="input-label-lg" 
                              maxlength="20" style="width: 100%; font-size: 20px;" 
                              />

                              <input type="number" 
                              placeholder="Latitude (north-south)"
                              value='{{place.latitude}}'
                              name="latitude"
                              class="input-label-lg" 
                              maxlength="20" style="width: 100%; font-size: 20px;" 
                              />
                              
                              <input type="number" 
                              placeholder="Longitude (east-west)"
                              value='{{place.longitude}}'
                              name="longitude"
                              class="input-label-lg" 
                              maxlength="20" style="width: 100%; font-size: 20px;" 
                              />

                              <br>
                              Visits: {{place.visits}} <br>
                              Rating: {{place.rating}}<br>

                              <textarea class="input-label" 
                              placeholder="Place description"
                              value='{{place.description}}'
                              name="description"
                              style="width:100%; border:none" rows=6></textarea>
                              <strong clang ss="text-info" style="font-size: small"></strong>                    
                        </div >          
                </div>
                <button type="button" (click)="deletePlaceById(place)" class="btn btn-danger btn-block"  style="font-size:20px; margin-right:30px;" >Delete this place</button>
              </div>


              
              <!--  text  -->
             
               <!--   [(ngModel)]="place.description"  -->
                <!--   (change)= "updatePlace(place)"  -->
              
          </div>
          
          
        </div>
      </div>
    </div>
  