<div class="container">
  <div class="row" style="margin-top:12px;">
    <div class="col-1">
     </div>
     <div class="col-10" style="margin:30px;">
    
        <button type="button"     
        (click)="addNewQuestion()"         
        class="btn btn-warning fa-pull-right"
        style="margin-left:12px;">
        <i class="fa fa-plus"></i> Add new question
        </button>

          <h3>Quiz Questions</h3> 
         
            <p *ngIf="this.questions.length === 0"> There are no questions in database</p>
            <div *ngFor="let question of questions">
              <div style="margin:30px;"></div> 
              <div style="padding: 10px; border-style: groove;">
                  <div style="margin: 30px;">
                    <h4>Question</h4>
                    <input type="text" 
                    placeholder="Question"
                    [(ngModel)] = "question.question"
                    name="question"
                    maxlength="100" style="width: 100%; font-size: 26px;" 
                    />
                    <br>
          
                    <h4>Answer A</h4>
                    <input type="text" 
                    placeholder="Answer A"
                    [(ngModel)]  = "question.a"
                    name="a"
                    maxlength="32" style="width: 100%; font-size: 26px;" 
                    />
                    <br>
          
                    <h4>Answer B</h4>
                    <input type="text" 
                    placeholder="Answer B"
                    [(ngModel)] = "question.b"
                    name="b"
                    maxlength="32" style="width: 100%; font-size: 26px;" 
                    />
                    <br>
                  
                    <h4>Answer C</h4>
                    <input type="text" 
                    placeholder="Answer C"
                    [(ngModel)] = "question.c"
                    name="c"
                    maxlength="32" style="width: 100%; font-size: 26px;" 
                    />
                    <br>
          
                    <h4>Answer D</h4>
                    <input type="text" 
                    placeholder="Answer D"
                    [(ngModel)] = "question.d"
                    name="d"
                    maxlength="32" style="width: 100%; font-size: 26px;" 
                    />
                    <br>
          
                    <h4>Correct answer (A, B, C or D)</h4>
                    <input type="text" 
                    placeholder="Correct answer (a,b,c or d)"
                    [(ngModel)] = "question.correctAnswer"
                    name="a"
                    maxlength="1" style="width: 20%; font-size: 26px; text-transform: uppercase;" 
                    />
                    <br> <br>
                    <button type="button" (click)="modifyQuestion(question)" class="btn btn-primary" style="margin-left:20px; font-size:26px;">SUBMIT CHANGES</button>
                    <button (click)="deleteQuestion(question)" type="button" class="btn btn-danger" style="font-size:26px; margin-left: 200px ;margin-right:30px;" >DELETE THIS QUESTION</button>
                    <br>
                </div>
              
                
              </div>
            </div>

      </div>
      <div class="col-1">
      </div>
  </div>


  
</div>